
.header{
    background-color:rgb(118, 252, 9) ;
    margin-top: 1em;

}
.header{
    display:flex;
    justify-content: space-evenly;
}
.note{
    color: white;
    background-color:rgb(20, 17, 17);
    display: flex;
     justify-content: space-evenly;
}
.home{
    background-color: #9acd32;
   
}
.home{
    display: flex;
    justify-content: space-evenly;
    padding:40px;
    position:relative;
}
.home:hover h3{
    opacity:0.4;
}
.home a{
opacity:0;

}
.home:hover a{
    opacity:1;
   
   
}
a :link{
    color:white;
}
a:visited{
    color:black;
}

.hometxt{
    
    background-color: yellowgreen;
}
.hometxt{
    background-color: purple;
    padding:20px;
}
.hometxt{
    display:flex;
    justify-content: space-evenly;
}
.hometxt{
    color: white;
    font-style: oblique;
}
body{
  background-color: black;
    background-image: "img.jpg";
    
}
.wlcm{
    color: green;
}
.tltxt{
    color: white;
}
.lbtxt{
    color: white;
}


   